:root {
  --color-black: #0b0b0d;
  --color-white: #ffffff;
  --color-border: var(--color-black);
  --color-background: var(--color-white);
  --color-accent: linear-gradient(120deg, #ffbeca, #ffb9ee, #dac5ff, #a7d4ff, #00e5f0);
  --color-accent-back-and-forth: linear-gradient(120deg, #ffbeca, #ffb9ee, #dac5ff, #a7d4ff, #00e5f0, #a7d4ff, #dac5ff, #ffbeca, #ffb9ee, #00e5f0);
  --color-secondary-accent: #ffbeca;
  --color-secondary-accent-dark: #ff618a;
  --color-little-parrot: linear-gradient(120deg, #ffbeca, #ffc299, #e0d300, #71ea00, #00eab9, #00e5f0);
  --color-little-parrot-back-and-forth: linear-gradient(120deg, #ffbeca, #ffc299, #e0d300, #71ea00, #00eab9, #00e5f0, #00eab9, #71ea00, #e0d300, #ffc299, #ffbeca);
  --font-size-body: 1.2rem;
  --border-width: 1rem;
  --box-padding: 1.5rem;
  --font-heading: "Montserrat", sans-serif;
  --font-body: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  background-color: var(--color-black);
  color: var(--color-black);
  margin: 0;
  font-family: var(--font-body);
}

a {
  font-weight: 700;
  text-decoration: none;
  color: var(--color-secondary-accent-dark);
}

a:hover {
  text-decoration: underline;
}

ul {
  padding-left: 1rem;
}

li {
  font-size: var(--font-size-body);
  line-height: 2;
  list-style: inside square;
}

dl {
  line-height: 2;
}

dt {
  font-weight: 900;
  font-size: 1.5rem;
}

dd {
  font-size: var(--font-size-body);
}

img {
  max-width: calc(100vw - 5rem);
  height: auto;
}

::selection {
  background: var(--color-secondary-accent);
  color: var(--color-black);
  animation: selection 0.3s infinite;
}

@keyframes button-hover {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0% 50%;
  }
}

.button {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--color-accent-back-and-forth);
  background-size: 200% 200%;
  color: var(--color-black);
  text-decoration: none;
  font-weight: 900;
  font-size: var(--font-size-body);
  border: none;
  cursor: pointer;
}

.button:hover {
  animation: button-hover 2s ease infinite;
  text-decoration: none;
}

.button-primary-product {
  background: var(--color-little-parrot-back-and-forth);
  background-size: 200% 200%;
}

.site {
  max-width: 1440px;
  margin: 0 auto;
  border: var(--border-width) solid var(--color-border);
  border-top: 0;
}

.site-header {
  position: sticky;
  z-index: 100;
  top: 0;
  background: var(--color-black);
  border-top: var(--border-width) solid var(--color-border);
  border-bottom: var(--border-width) solid var(--color-border);
}

.site-navigation {
  display: flex;
  flex-direction: column;
}

.navigation-logo {
  place-self: center;
}

.menu-items {
  padding: 2rem 4rem;
  position: absolute;
  background: var(--color-black);
  top: 75px
}

.typography.typography-h1.main-title,
.typography.typography-h2.main-title,
.typography.typography-h3.main-title,
.typography.typography-h4.main-title {
  margin: 0;
}

[data-menu-open="false"] .menu-items {
  display: none;
}

.hamburger-button {
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  border: none;
  cursor: pointer;
  padding: 1rem;
  margin: 0.5rem;
}

.hamburger-bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: var(--color-white);
  margin: 4px 0;
  transition: 0.4s;
}

[data-menu-open="true"] .hamburger-bar:nth-child(1) {
  transform: rotate(-45deg) translate(-6px, 6px);
}

[data-menu-open="true"] .hamburger-bar:nth-child(2) {
  transform: rotate(45deg) translate(1px, 1px);
}

[data-menu-open="true"] .hamburger-bar:nth-child(3) {
  opacity: 0;
}

.navigation-link {
  display: block;
  text-decoration: none;
  color: var(--color-white);
  font-size: 1.5rem;
  font-weight: 900;
  font-family: var(--font-heading);
  border-top: 0.5rem solid var(--color-border);
  border-bottom: 0.5rem solid var(--color-border);
  transition: border-top 0.3s, border-bottom 0.3s;
}

@media (min-width: 1000px) {
  .site-navigation {
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }

  .menu-items {
    margin-left: 0;
    display: flex;
    gap: 2rem;
    position: static;
    padding: 0;
  }

  [data-menu-open="false"] .menu-items {
    display: flex;
  }

  .navigation-link {
    text-decoration: none;
    color: var(--color-white);
    font-size: 1.5rem;
    font-weight: 900;
    font-family: var(--font-heading);
    background: var(--color-accent);
    border-top: 0.5rem solid var(--color-border);
    border-bottom: 0.5rem solid var(--color-border);
    transition: border-top 0.3s, border-bottom 0.3s;
  }

  .navigation-link:hover {
    text-decoration: none;
  }

  .navigation-link-text {
    background: var(--color-border);
  }

  .navigation-link-product {
    background: var(--color-little-parrot);
  }

  .navigation-link:hover {
    border-top: 0.5rem solid var(--color-border);
    border-bottom: 0.5rem solid transparent;
  }

  .hamburger-button {
    display: none;
  }
}

.bento {
  display: grid;
  gap: var(--border-width);
  border-top: var(--border-width) solid var(--color-border);
}

.box {
  background-color: var(--color-background);
  padding: var(--box-padding);
  overflow: hidden;
  position: relative;
}

.box::after {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background: url('little-parrot.svg') no-repeat center;
  background-size: contain;
  transform: scale(-1, 1) translateX(20px) translateY(120px);
  position: absolute;
  bottom: 0;
  right: 0;
  transition: transform 0.5s ease;
}

.box.right::after {
  transform: scale(-1, 1) translateX(-120px) translateY(0) rotate(90deg);
}

.box.left::after {
  transform: translateX(-120px) translateY(0) rotate(90deg);
  bottom: 0;
  left: 0;
}

.box.top::after {
  transform: scale(-1, 1) translateX(20px) translateY(-120px) rotate(180deg);
  top: 0;
  right: 0;
}

.box.kim::after {
  width: 200px;
  height: 200px;
  background: url('kim.svg') no-repeat center;
  background-size: contain;
  transform: scale(-1, 1) translateX(-20px) translateY(220px);
  bottom: 0;
  left: 0;
}

.box.tim::after {
  width: 200px;
  height: 200px;
  background: url('tim.svg') no-repeat center;
  background-size: contain;
  transform: scale(-1, 1) translateX(-20px) translateY(220px);
  bottom: 0;
  left: 0;
}

.box:hover::after {
  transform: scale(-1, 1) translateX(20px) translateY(35px);
}

.box.right:hover::after {
  transform: scale(-1, 1) translateX(-30px) translateY(0px) rotate(90deg);
}

.box.left:hover::after {
  transform: translateX(-30px) translateY(0px) rotate(90deg);
}

.box.top:hover::after {
  transform: scale(-1, 1) translateX(20px) translateY(-35px) rotate(180deg);
}

.box.kim:hover::after {
  transform: scale(-1, 1) translateX(-20px) translateY(60px);
}

.box.tim:hover::after {
  transform: scale(-1, 1) translateX(-20px) translateY(60px);
}

.box.box-highlight {
  background: var(--color-accent);
}

.box.box-highlight-product {
  background: var(--color-little-parrot);
}

.box.with-link {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
  place-items: start;
}

.hero {
  border-top: 0;
}

.hero-logo {
  display: none;
}

@media (min-width: 1000px) {
  .hero {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
  }

  .hero-logo {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: grid;
    place-items: center;
  }

  .hero-logo-image {
    margin: 6rem;
  }
}

.tagline {
  font-size: 4rem;
  margin: 4rem 0;
}

.our-product-logo {
  margin: 2rem;
}

.our-product-image {
  display: grid;
  place-items: center;
}

@media (min-width: 1000px) {
  .our-product {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
  }

  .our-product-header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .our-product-image {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: grid;
    place-items: center;
  }
}

.about-image {
  display: grid;
  place-items: center;
}

@media (min-width: 1000px) {
  .about {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
  }

  .about-header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }

  .about-description {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }

  .about-team {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
    display: flex;
    gap: 2rem;
    justify-content: center;
    writing-mode: sideways-lr;
  }
}

.newsletter-image {
  display: grid;
  place-items: center;
}

@media (min-width: 1000px) {
  .newsletter {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
  }

  .newsletter-header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .newsletter-image {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

.seminars-image {
  display: grid;
  place-items: center;
}

@media (min-width: 1000px) {
  .seminars {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
  }

  .seminars-header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .seminars-image {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

.site-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  font-size: 0.875rem;
  border-top: var(--border-width) solid var(--color-border);
  border-bottom: var(--border-width) solid var(--color-border);
  background: var(--color-black);
  color: var(--color-white);
}

.footer-logo {
  margin: 0 auto 1rem auto;
}

.footer-link {
  color: var(--color-white);
  text-decoration: none;
}

.footer-social {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
